<% cache do %>
  <header class="app-header">
    <div class="img"></div>
    <div class="app-cont">
      <h1 class="app-logo">
        <%= link_to :purchases do %>
          Cosas que <b>compré</b>
        <% end %>
      </h1>
    </div>
  </header>
<% end %>